/* aside{
    width: 4rem !important;
    min-width: 4rem !important; 
    flex: 0 0 4rem !important; 
    max-width: 4rem !important;
    z-index: 10;
} */

.layout-background{
    background-color: var(--blue-dark);
    color: var(--white);
    flex: 0 0 0 !important;
    min-width: none !important;
    max-width: none !important;
}

.layout-sider{
    overflow: hidden;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
}

.layout-menu{
    height: 100%;
    display: grid;
    align-content: space-around;
    align-items: middle;
}

.menuSupBox{
    background-color: var(--white);
    overflow: hidden;
}

.icon-menu{
    font-size:1.5rem;
}